* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}
:root{ 
    --fundo-principal: #2A2A2A;
    --roxo: #4B0082;
    --roxo-claro: #8A38F5; 
    --preto: #1E1E1E;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo-principal);
}

.logobar{
    width: 100%;
    height: 100px;
    background-color: var(--preto);
}

.searchbar{
    width: 100%;
    height: 50px;
    background-color: var(--roxo);
    display: flex;
    justify-content: center;
}

.lateralmenu{
    height: 100%;
    width: 200px;
    background-color: var(--preto);
    position: absolute;
    
}

.search-box{
    width: 420px;
    padding: 0 10px 0 10px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    position: relative;
}

hr{
    background-color: dimgray;
    height: 2px;
}

